            <form role="form" action="/tease" method="POST" id="summarize_form">
              <div class="row">
                <div class="col-lg-9">
                  <input class="form-control" type="text" placeholder="Enter URL of website to summarize here!" name="url" id="url_input" />
                </div>
                <div class="col-lg-3">
                  <button class="btn btn-success btn-block" id="summarize_btn">Summarize</button>
                </div> 
              </div>
            </form>
